{% extends 'base.html' %}
{% set active_page = "games" %}

{% block title %}Latest games{% endblock %}

{% block content %}
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Map</th>
			<th>Game</th>
			<th>Winner</th>
			<th>Replay</th>
		</tr>
	</thead>
	<tbody>
		{%- for game in games %}
		<tr>
			<td>{{ game.date }}</td>
			<td class="map">{{ game.map }}</td>
			<td class="player"><a href="{{ url_for('player', profile_id=game.p0_id) }}">{{ game.p0 }}</a>
				vs. <a href="{{ url_for('player', profile_id=game.p1_id) }}">{{ game.p1 }}</a></td>
			<td class="spoiler">{{ game.winner }}</td>
			<td><a href="{{ url_for('replay', replay_hash=game.hash) }}">📥</a></td>
		</tr>
		{%- endfor %}
	</tbody>
</table>
{% endblock %}
