{% extends 'base.html' %}

{% block title %}Player {{ player.profile_name }}{% endblock %}

{% block content %}
<h2>{{ player.profile_name }}</h2>
{%if player.avatar_url %}<img class="avatar" src="{{ player.avatar_url }}" alt="{{ player.profile_name }}">{%endif%}
<dl>
	<dt>Matchups completed:</dt><dd>{{ player.matchup_done_count }}/{{ player.matchup_count }}</dd>
	<dt>Playtime period:</dt><dd>{{ player.start_time }} - {{ player.end_time }}</dd>
	<dt>Status:</dt><dd>{{ player.status }}</dd>
</dl>

<h2>Scores</h2>
<table>
	<tr>
		<th>Opponent</th>
		<th>Played</th>
		<th>Status</th>
		<th colspan="4">Games</th>
	</tr>
{% for match in matches %}
	<tbody class="row">
	<tr>
		{% set nb_games = match.games|length -%}
		{% set rowspan = "rowspan=" ~ nb_games if nb_games > 0 else "" -%}
		<td class="player" {{ rowspan }}><a href="{{ url_for('player', profile_id=match.opponent_id) }}">{{ match.opponent }}</a></td>
		<td {{ rowspan }}>{{ nb_games }}/2</td>
		<td class="status" {{ rowspan }}>{{ match.status }}</td>
		{%- if nb_games > 0 %}
		{%- for game in match.games %}
		{%- if loop.index > 1 %}
	</tr>
	<tr>
		{%- endif %}
		<td>{{ game.date }}</td>
		<td class="map">{{ game.map }}</td>
		<td class="spoiler">{{ game.outcome }}</td>
		<td><a href="{{ url_for('replay', replay_hash=game.hash) }}">📥</a></td>
		{%- endfor -%}
		{% else -%}
		<td class="nogame" colspan="4">No game recorded</td>
		{%- endif %}
	</tr>
	</tbody>
{% endfor %}
</table>

{% endblock %}
