{% extends 'base.html' %}
{% set active_page = "scoreboards" %}

{% block title %}Scoreboard{% endblock %}

{% block content %}
{% for division, players in scoreboards.items() %}
<h2>{{ division }}</h2>
<table>
	<thead>
	<tr>
		<th>Rank</th>
		<th colspan=2>Player</th>
		<th>Played</th>
		<th>Wins</th>
		<th>Losses</th>
		<th>Win rate</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	{% for e in players %}
	<tr class="row">
		<td class="position">{{ e.row_id }}</td>
		<td class="avatar">{%if e.avatar_url %}<img src="{{ e.avatar_url }}" alt="" />{%endif%}</td>
		<td class="player"><a href="{{ url_for('player', profile_id=e.profile_id) }}">{{ e.name }}</a></td>
		<td>{{ e.played }}/{{ e.max_matches }}</td>
		<td>{{ e.wins }}</td>
		<td>{{ e.losses }}</td>
		<td>{{ '%.1f' | format(e.winrate) }}%</td>
		<td>{{ e.status }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endfor %}
{% endblock %}
