<!doctype html>
<head>
	<title>OpenRA 1v1 Ladder - {% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{{ url_for('static', filename='Chart.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='dtfuncs.js') }}"></script>
</head>
<header>
	<h1>OpenRA 1v1 Ladder</h1>
</header>
<nav>
	<ul>
	{%-
	set navbar_menus = [
		('leaderboard', 'Leaderboard'),
		('latest_games', 'Latest games'),
		('globalstats', 'Global stats'),
		('info', 'Information'),
	]
	-%}
	{%- for endpoint, caption in navbar_menus %}
		<li class="{% if endpoint == active_page %}active{% endif %}">
			<a href="{{ url_for(endpoint) }}">{{ caption }}</a>
		</li>
	{%- endfor %}
	</ul>
</nav>
{% block content %}{% endblock %}
