<!doctype html>
<head>
	<title>OpenRA 1v1 Ladder - {% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{{ url_for('static', filename='Chart.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='dtfuncs.js') }}"></script>
</head>
<header>
	<h1>OpenRA 1v1 Ladder</h1>
</header>
{%- for menu_id, pages in navbar_menu.items() %}
<nav id=menu_{{ menu_id }}>
	<ul>
		{%- for menu_entry in pages %}
		<li class="{% if menu_entry.active %}active{% endif %}"><a href="{{ menu_entry.url }}">{{ menu_entry.caption }}</a></li>
		{%- endfor %}
	</ul>
</nav>
{%- endfor %}
{% block content %}{% endblock %}
