{% extends 'base.html' %}

{% block title %}Global stats{% endblock %}

{% block content %}
<h2>Misc</h2>
<dl>
	<dt>Games:</dt><dd>{{ nb_games }}</dd>
	<dt>Players:</dt><dd>{{ nb_players }}</dd>
	<dt>Average game duration:</dt><dd>{{ avg_duration }}</dd>
</dl>

{% if map_stats.data %}
<h2>Maps</h2>
<canvas id="maps_chart"></canvas>
<script>
	Chart.defaults.global.defaultFontColor = "#e8e8e8";
	var ctx = document.getElementById('maps_chart');
	var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			labels: {{ map_stats.names | safe }},
			datasets: [{
				data: {{ map_stats.data | safe }},
				backgroundColor: {{ map_stats.colors | safe }},
				fontColor: '#fff'
			}]
		},
		options: {
			tooltips: {
				callbacks: {
					label: function(tooltipItem, data) {
						var label = data['labels'][tooltipItem['index']]
						var value = data['datasets'][0]['data'][tooltipItem['index']]
						var pcent = value / {{ map_stats.total }} * 100
						return label + ': ' + pcent.toFixed(1) + '% (' + value + '/' + {{ map_stats.total }} + ')'
					},
				},
			},
		},
	});
</script>
{% endif %}

{% if faction_stats.data %}
<h2>Preferred factions</h2>
<canvas id="faction_chart"></canvas>
<script>
	Chart.defaults.global.defaultFontColor = "#e8e8e8";
	var ctx = document.getElementById('faction_chart');
	var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			labels: {{ faction_stats.names | safe }},
			datasets: [{
				data: {{ faction_stats.data | safe }},
				backgroundColor: {{ faction_stats.colors | safe }},
				fontColor: '#fff'
			}]
		},
		options: {
			tooltips: {
				callbacks: {
					label: function(tooltipItem, data) {
						var label = data['labels'][tooltipItem['index']]
						var value = data['datasets'][0]['data'][tooltipItem['index']]
						var pcent = value / {{ faction_stats.total }} * 100
						return label + ': ' + pcent.toFixed(1) + '% (' + value + '/' + {{ faction_stats.total }} + ')'
					},
				},
			},
		},
	});
</script>
{% endif %}
{% endblock %}
