{% extends 'base.html' %}
{% set active_page = "info" %}

{% block title %}Information{% endblock %}

{% block content %}
<h2>The essentials</h2>
<dl>
	<dt>Map pack:</dt><dd><a href="{{ url_for('static', filename='ladder-map-pack-2021-03-29.zip') }}">2021-03-29</a></dd>
	<dt>Compatible game version:</dt><dd><a href="https://github.com/OpenRA/OpenRA/releases/tag/release-20210321">release-20210321</a></dd>
	<dt>Game server instances:</dt><dd>|oraladder.net| Competitive 1v1 Ladder Server <i>N</i></dd>
	<dt>Ranking algorithm:</dt><dd><a href="https://en.wikipedia.org/wiki/TrueSkill">Trueskill™</a></dd>
	<dt>Source code:</dt><dd><a href="https://github.com/ubitux/oraladder">oraladder on Github</a></dd>
	<dt>Contact:</dt><dd><strong>bµg</strong> on the official OpenRA Discord server</dd>
</dl>
<h2>F.A.Q</h2>
<dl id=faq>
	<dt>How can I play on the ladder?</dt>
	<dd>
		Register an OpenRA account on the <a href="https://forum.openra.net/">Community Forum</a>
		and link it with your in-game player profile. This will allow you to
		join the ladder game server lobbies (see <strong>The
		essentials</strong> section). Every game you play on these servers will
		automatically be recorded and your score adjusted on this website within
		minutes.
	</dd>

	<dt>
		The opponent is bad mannered and just disconnected: do I have
		to destroy all their structures to register a win?
	</dt>
	<dd>
		No, just leave the game. But beware, <strong>do not surrender</strong>,
		otherwise it will be registered as a loss for you.
	</dd>

	<dt>I'm terrible at the game and would like to become stronger, where should I look for?</dt>
	<dd>
		The ladder is indeed highly competitive. Your best chance at
		improving would be to join the <a href="https://discord.gg/C2CadJT">ORA Academy
		Discord</a> and eventually the <a href="https://discord.gg/JyHZFbw">Red Alert Competitive
		Discord</a>. The former will provide many resources, while the latter
		is full of highly competitive, passionate (and sometimes
		friendly) players discussing different facets of the game. You
		may also want to join the <a href="https://discord.openra.net">Official Discord</a>.
	</dd>

	<dt>
		Player skill gap is so wide, every game feels like a coin flip;
		any chance of improving that?
	</dt>
	<dd>
		Unfortunately, there is currently no automatic matchmaking
		system and the community is probably still too small for a
		balanced experience of such a system. There are discussions in
		progress to improve the player experience, but currently your
		best chance at enjoying the competitive scene is probably to
		get in touch with players in your skill vicinity on Discord,
		and reach for the top.
	</dd>

	<dt>When does the ladder reset?</dt>
	<dd>
		You have a monthly reset of the ladder (see the "This period" button on
		most pages). This is not a 30-days time window: every 1<sup>st</sup> of
		the month, all records go away. The "All time" representation is
		currently the persistent version of the ladder with all the records.
	</dd>

	<dt>I just lost but won points, why?</dt>
	<dd>
		You probably played a strong player, and the ranking system
		doesn't have enough information to make a good guess at your
		level yet. The variation in your score will stabilize the more
		you play, and become more predictable as your level becomes
		more certain to the system.
	</dd>

	<dt>A player is abusing the game or doing illegal activities, what can I do?</dt>
	<dd>
		The ladder has no control over the accounts of players.
		Contacting the OpenRA forum admins is probably your best bet.
		If their account ends up being disabled, all their replays will
		go away from this website, and the scores adjusted
		automatically as if they never existed.
	</dd>
</dl>

{% endblock %}
