{% extends 'base.html' %}
{% set active_page = "latest_games" %}

{% block title %}Latest games{% endblock %}

{% block content %}
{% include "period.html" %}
<table>
	<thead>
	<tr>
		<th>Date</th>
		<th>Map</th>
		<th>Victorious</th>
		<th>Defeated</th>
		<th>Duration</th>
		<th>Replay</th>
	</tr>
	</thead>
	<tbody>
{% for game in games %}
	<tr class="row">
		<td>{{ game.date }}</td>
		<td class="map">{{ game.map }}</td>
		<td class="player">
			<a href="{{ url_for('player', profile_id=game.p0_id, period=period) }}">{{ game.p0 }}</a>
			<span class="diff{%if game.diff0 >= 0 %}up{%else %}down{%endif%}">{{ game.diff0 }}</span>
		</td>
		<td class="player">
			<a href="{{ url_for('player', profile_id=game.p1_id, period=period) }}">{{ game.p1 }}</a>
			<span class="diff{%if game.diff1 >= 0 %}up{%else %}down{%endif%}">{{ game.diff1 }}</span>
		</td>
		<td>{{ game.duration }}</td>
		<td><a href="{{ url_for('replay', replay_hash=game.hash) }}">📥</a></td>
	</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}
