{% extends 'base.html' %}
{% set active_page = "latest_games" %}

{% block title %}Latest games{% endblock %}

{% block content %}
{% include "period.html" %}
<table id="latest-table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Map</th>
			<th>Victorious</th>
			<th>Defeated</th>
			<th>Duration</th>
			<th>Replay</th>
		</tr>
	</thead>
</table>
<script>
$(document).ready(
	function () {
		$('#latest-table').DataTable({
			ajax: { url: "{{ url_for('latest_games_js', period=period) }}", dataSrc:"" },
			columns: [
				{ data: 'date' },
				{ data: 'map', className: 'map' },
				{ data: 'p0', className: 'player', render: player_with_diff_render },
				{ data: 'p1', className: 'player', render: player_with_diff_render },
				{ data: 'duration' },
				{ data: 'replay_url', render: replay_render },
			],
			bSort: false,
		});
	}
);
</script>
{% endblock %}
