{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
{% include "period.html" %}
{% if period %}
<p>
	<strong>Current Period</strong>: from <strong>{{ period_info.start }}</strong> to <strong>{{ period_info.end }}</strong> ({{ period_info.duration }})
</p>
{% endif %}
<table id="leaderboard-table">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Player</th>
			<th>Rating</th>
			<th>Played</th>
			<th>Wins</th>
			<th>Losses</th>
			<th>Win rate</th>
		</tr>
	</thead>
</table>
<script>
$(document).ready(
	function () {
		$('#leaderboard-table').DataTable({
			ajax: { url: "{{ url_for('leaderboard_js', period=period) }}", dataSrc:"" },
			pageLength: 50,
			columns: [
				{ data: 'row_id', className: 'position' },
				{ data: 'player', className: 'player_avatar', render: player_render },
				{ data: 'rating', className: 'rating', render: rating_render },
				{ data: 'played' },
				{ data: 'wins' },
				{ data: 'losses' },
				{ data: 'winrate', render: winrate_render },
			],
			bSort: false,
		});
	}
);
</script>
{% endblock %}
