{% extends 'base.html' %}

{% block title %}Player {{ player.profile_name }}{% endblock %}

{% block content %}
{% include "player-period.html" %}
<h2>{{ player.profile_name }}</h2>
{%if player.avatar_url %}<img class="avatar" src="{{ player.avatar_url }}" alt="{{ player.profile_name }}">{%endif%}
<dl>
	<dt>Rank</dt><dd>#{{ player.rank }}</dd>
	<dt>Rating</dt><dd>{{ player.rating }}</dd>
	<dt>Wins</dt><dd>{{ player.wins }}</dd>
	<dt>Losses</dt><dd>{{ player.losses }}</dd>
	<dt>Average game duration</dt><dd>{{ player.avg_game_duration }}</dd>
</dl>

<h2>Rating evolution</h2>
{%if rating_data %}
<canvas id="rating_chart"></canvas>
<script>
	Chart.defaults.global.defaultFontColor = "#e8e8e8";
	var ctx = document.getElementById('rating_chart');
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: {{ rating_labels | safe }},
			datasets: [{
				label: 'Rating',
				data: {{ rating_data | safe }},
				backgroundColor: ['rgba(255, 99, 132, 0.2)'],
				borderColor: ['rgba(255, 99, 132, 1)']
			}]
		}
	});
</script>
{%else%}
<p>Not enough data points</p>
{%endif%}

<h2>Preferred factions</h2>
<canvas id="faction_chart"></canvas>
<script>
	Chart.defaults.global.defaultFontColor = "#e8e8e8";
	var ctx = document.getElementById('faction_chart');
	var myChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			labels: {{ faction_names | safe }},
			datasets: [{
				data: {{ faction_data | safe }},
				backgroundColor: {{ faction_colors | safe }},
				fontColor: '#fff'
			}]
		}
	});
</script>

<h2>Map performances</h2>
<canvas id="playermaps_chart"></canvas>
<script>
	Chart.defaults.global.defaultFontColor = "#e8e8e8";
	var ctx = document.getElementById('playermaps_chart');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: {{ map_names | safe }},
			datasets: [{
				label: 'Wins',
				data: {{ map_win_data | safe }},
				backgroundColor: '#72ff72',
				fontColor: '#fff'
			}, {
				label: 'Losses',
				data: {{ map_loss_data | safe }},
				backgroundColor: '#ff1a1a',
				fontColor: '#fff'
			}]
		}
	});
</script>

<h2>Latest games</h2>
<table id="latest-player-games-table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Opponent</th>
			<th>Map</th>
			<th>Outcome</th>
			<th>Duration</th>
			<th>Replay</th>
		</tr>
	</thead>
</table>
<script>
$(document).ready(
	function () {
		$('#latest-player-games-table').DataTable({
			ajax: { url: "{{ url_for('player_games_js', profile_id=profile_id, period=period) }}", dataSrc:"" },
			columns: [
				{ data: 'date' },
				{ data: 'opponent', className: 'player', render: player_render },
				{ data: 'map', className: 'map' },
				{ data: 'outcome', render: outcome_render },
				{ data: 'duration' },
				{ data: 'replay_url', render: replay_render },
			],
			bSort: false,
		});
	}
);
</script>
{% endblock %}
